<div>
  Order <%= order.created_at %>
</div>
<% order.order_items.each do |item| %>
  <div>
    <span>
      <%= item.product.name %>
    </snap>
    <span>
      <%= item.quantity %>
    </span>
  </div>
<% end %>
<% if !order.is_done %>
    <%= form_with url: orders_done_path do |form| %>
      <%= form.hidden_field :order_id, value: order.id %>
      <%= form.submit "Done" %>
    <% end %>
<% end %>
