<div>
  <%= form_with url: products_add_item_path do |form| %>
    <%= form.hidden_field :product_id, value: product.id %>
    <%= product.name %>
    <%= product.price %>
    <%= form.number_field :quantity, value: 1 %>
    <%= form.submit "+" %>
  <% end %>
</div>
